api/services/aws_autorizar_usuario_objeto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions name="ws_autorizar_usuario_objeto" targetNamespace="portal3Ev2" xmlns:wsdlns="portal3Ev2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="portal3Ev2">
	<types>
		<schema targetNamespace="portal3Ev2" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
			<element name="ws_autorizar_usuario_objeto.Execute">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Sesionesid" type="xsd:long"/>
						<element minOccurs="1" maxOccurs="1" name="Programa" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Modo" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="ws_autorizar_usuario_objeto.ExecuteResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Autorizado" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Path" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="ws_autorizar_usuario_objeto.ExecuteSoapIn">
		<part name="parameters" element="tns:ws_autorizar_usuario_objeto.Execute"/>
	</message>
	<message name="ws_autorizar_usuario_objeto.ExecuteSoapOut">
		<part name="parameters" element="tns:ws_autorizar_usuario_objeto.ExecuteResponse"/>
	</message>
	<portType name="ws_autorizar_usuario_objetoSoapPort">
		<operation name="Execute">
			<input message="wsdlns:ws_autorizar_usuario_objeto.ExecuteSoapIn"/>
			<output message="wsdlns:ws_autorizar_usuario_objeto.ExecuteSoapOut"/>
		</operation>
	</portType>
	<binding name="ws_autorizar_usuario_objetoSoapBinding" type="wsdlns:ws_autorizar_usuario_objetoSoapPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Execute">
			<soap:operation soapAction="portal3Ev2action/AWS_AUTORIZAR_USUARIO_OBJETO.Execute"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ws_autorizar_usuario_objeto">
		<port name="ws_autorizar_usuario_objetoSoapPort" binding="wsdlns:ws_autorizar_usuario_objetoSoapBinding">
			<soap:address location="http://servicios.ces.edu.uy/Portal/servlet/aws_autorizar_usuario_objeto"/>
		</port>
	</service>
</definitions>
